<footer class="footer">
    <div class="footer__container" dir="auto">
        <div class="footer__menu">

            <a class="footer__logo" href="#"><img src"" alt=""/></a>

            <nav class="footer__social">
                <a href="" target="_blank"><i class="icon icon__facebook"></i></a>
                <a href="" target="_blank"><i class="icon icon__instagram"></i></a>
            </nav>

            <nav class="footer__links">
                <ul>
                    <li><a href="#" class="-title" target="_blank">Affiliates</a></li>
                    <li>
                        <a href="{{url_for ('register')}}" target="_blank">
                            Sign up                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="footer__links">
                <ul>
                    <li><a href="" class="-title" target="_blank">About us</a></li>

                    <li>
                        <a href="">Contacts</a>
                    </li>
                </ul>
            </nav>

            <nav class="footer__links">
                <ul>
                    <li><a href="https://qxbroker.com/en/faq/" class="-title" target="_blank">FAQ</a></li>

                    <li>
                        <a href="">
                            General questions                        </a>
                    </li>
                    <li>
                        <a href="">
                            Financial questions                        </a>
                    </li>
                    <li>
                        <a href="">
                            Verification                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="footer__links">
                <ul>
                    <li><p class="-title">Regulations</p></li>

                    
                </ul>
            </nav>
        </div>

        <nav class="footer__social-mobile">
            <a href="" target="_blank"><i class="icon icon__facebook"></i></a>
            <a href="" target="_blank"><i class="icon icon__instagram"></i></a>
        </nav>

        <hr />
        <div class="footer__bottom">
            <p>
                ON SPOT LLC GROUP. Address: Main Street, P.O. Box 625, Charlestown, St. Kitts and Nevis.            </p>
            <p>
                The website services are not available in a number of countries, including USA, Canada, Hong Kong, EEA countries, Israel, Russia as well as for persons under 18 years of age.            </p>
            <p>
                Risk Warning: Trading Forex and Leveraged Financial Instruments involves significant risk and can result in the loss of your invested capital. You should not invest more than you can afford to lose and should ensure that you fully understand the risks involved. Trading leveraged products may not be suitable for all investors. Trading non-leveraged products such as stocks also involves risk as the value of a stock can fall as well as rise, which could mean getting back less than you originally put in. Past performance is no guarantee of future results. Before trading, please take into consideration your level of experience, investment objectives and seek independent financial advice if necessary. It is the responsibility of the Client to ascertain whether he/she is permitted to use the services of the Quotex brand based on the legal requirements in his/her country of residence.            </p>
        </div>

        <div class="footer__copyright">
            ON SPOT LLC GROUP is the owner of the qxbroker.com domain.             <br/>
            Copyright © 2024 Quotex. All rights reserved        </div>
    </div>
</footer>

<!--    <div class="cookie-bar">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <p class="col cookie-bar__text">--><!--</p>-->
<!--                <div class="col-auto">-->
<!--                    <button id="cookie-agree" class="cookie-bar__button">--><!--</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!-- prettier-ignore -->

<script type="text/javascript">
    window.settings = {"fpjsDomain":null,"csrf":"dfLYZpvOt5l4HvTJiq0fHoKs53tpklaQy7Trk1J8"};
</script>
<div class="modal js-account-closed-modal">
    <div class="modal-account-closed modal__dialog">
        <div>
            <button class="modal__close" id="close-button-terms-conditions">
                <svg data-testid="Icon" class="icon-close">
                    <use xlink:href="https://qxbroker.com/profile/images/spritemap.svg#icon-close"></use>
                </svg>
            </button>

            <div class="modal-account-closed__header">
                <svg>
                    <use xlink:href="https://qxbroker.com/profile/images/spritemap.svg#icon-information"></use>
                </svg>
                <div>Account closed - why and what to do?</div>
            </div>

            <div class="modal-account-closed__body">
                <span>There are several reasons why an account may become closed:</span>
                </br></br>
                <b>1. No activity.</b></br>
                <span>The most common reason is that the account was closed for being inactive (no logins/activity) for a long period of time – from 3 moths and more. Such accounts get deleted, if there are no funds on the balance, and they cannot be restored. You are free to register a new account. (provided there are no other active accounts registered by you on the Platform)</span>
                </br></br>
                <span><span class="modal-account-closed__prompt">*&nbsp</span>The email cannot be reused. You would need to use a different email address.</span>
                </br></br>

                <b>2. Deleted by the owner.</b></br>
                <span> If there are no funds on the balance, such accounts cannot be restored. As in previous case, you can simply make sure there are no other active accounts registered by you on the Platform, and create a new one.)</span>
                </br></br>
                <span><span class="modal-account-closed__prompt">*&nbsp</span>If you have deleted your account yourself by mistake, and there are funds on its balance – please contact support for details (using the «Contacts» form on the main page of the website). The operators will check and see if the account can be restored.</span>
                </br></br>

                <div class="modal-account-closed__body-block">
                    <div class="modal-account-closed__body-accordion">
                        If it’s possible to restore the account, you will be asked to provide
                        <div class="modal-account-closed__body-plus">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.84615 0H7.15385V4.84615H12V7.15385H7.15385V12H4.84615V7.15385H0V4.84615H4.84615V0Z" fill="#2B99FF"/>
                            </svg>
                        </div>

                        <div class="modal-account-closed__body-minus">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.15385 4.84766H12V7.15535H7.15385H4.84615H0V4.84766H4.84615H7.15385Z" fill="#2B99FF"/>
                            </svg>
                        </div>
                    </div>

                    <div class="modal-account-closed__body-panel">
                        <ul>
                            <li>A high-resolution photo of yourself (selfie) on which you are holding your document for identification (your passport or national ID will do) along with a sheet of paper with the name «QUOTEX» written on it by hand, current date and your signature. Your face, body and both arms must be visible. The details of the document should be clear and readable.</li>
                            <li>Screenshots of the receipts for deposits in that account (a bank statement or detailed receipts from the payment system you used for depositing will do).</li>
                        </ul>
                    </div>
                </div>

                </br>
                <b>3. Duplicated accounts.</b></br>
                <span>It’s only allowed to have one active account on the Platform. If other accounts registered by the same person are detected they may be deleted with no warning (c 1.30 of the Service Agreement).</span>
                </br></br>

                <b>4. Deleted for violation of the Service Agreement.</b></br>
                <span>The owner gets notified on the details of violation, and the possibility of refund, and if applicable, is asked to provide the required documents.)</span>
                </br></br>
                <span><span class="modal-account-closed__prompt">*&nbsp</span>In case of automatic detection of violations (e.g. using automated trading software) – the Company reserves the right not to notify the owner in advance. (You may contact support via the “Contacts” form at the bottom of the website’s front page for details and refund (if applicable). We remind you that all statutory documents (Service Agreement and its annexes) are publicly available and can be revisited at any time on the Company’s website.</span>
            </div>
        </div>
    </div>
</div>
<script src="https://qxbroker.com/site/js/main.min.js?6"></script>
<a href="//freekassa.ru/" style="display: none"><img src="//www.free-kassa.ru/img/fk_btn/17.png" title="Приём оплаты на сайте картами"></a>
</bdi>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"86c782f7abb9d799","version":"2024.3.0","token":"add1a00da6bf4c6ea4bffb8b2320571d"}' crossorigin="anonymous"></script>
</body>
</html>